## Preprocessing

In [52]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [53]:
#Drop the EIN and NAME columns (2 points)
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HER
application_df = application_df.drop(["EIN","NAME"],1)

/var/folders/qf/znkw8q012f9d5c75hlcsjrqh0000gn/T/ipykernel_21889/2516367073.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(["EIN","NAME"],1)

In [54]:
#Determine the number of unique values in each column (2 points)
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [55]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_counts =application_df["APPLICATION_TYPE"].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [56]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(application_counts[application_counts < 1000].index)


# Replace in dataframe 
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [57]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_value_counts = application_df.CLASSIFICATION.value_counts()
classification_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [58]:
# You may find it helpful to look at CLASSIFICATION value counts >1 
#  YOUR CODE GOES HERE
#of course I am going to take the advice of the notes above
classification_value_counts[classification_value_counts>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [59]:
classification_value_counts[classification_value_counts>100]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [60]:
classification_value_counts[classification_value_counts>50]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
Name: CLASSIFICATION, dtype: int64

In [61]:
#For columns with more than 10 unique values, determine the number of data points for each unique value (4 points)
classification_value_counts[classification_value_counts>10]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
Name: CLASSIFICATION, dtype: int64

In [62]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace=list(classification_value_counts[classification_value_counts < 1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [63]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
app_withdummies = pd.get_dummies(application_df)

In [64]:
#Create a feature array, X, and a target array, y by using the preprocessed data (5 points)
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = app_withdummies.drop(["IS_SUCCESSFUL"], axis='columns').values
y = app_withdummies["IS_SUCCESSFUL"].values
# Split the preprocessed data into a training and testing dataset(5 points)
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [65]:
#Scale the data by using a StandardScaler that has been fitted to the training data (5 points)
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [66]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
#goin to have to pull from 21.2.6
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 328

 dense_4 (Dense)             (None, 5)                 45

 dense_5 (Dense)             (None, 1)                 6

=================================================================
Total params: 379 (1.48 KB)
Trainable params: 379 (1.48 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [67]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [68]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 510us/step - loss: 0.6370 - accuracy: 0.6716
Epoch 2/100
804/804 [==============================] - 0s 482us/step - loss: 0.5730 - accuracy: 0.7253
Epoch 3/100
804/804 [==============================] - 0s 528us/step - loss: 0.5653 - accuracy: 0.7285
Epoch 4/100
804/804 [==============================] - 0s 498us/step - loss: 0.5618 - accuracy: 0.7286
Epoch 5/100
804/804 [==============================] - 0s 497us/step - loss: 0.5602 - accuracy: 0.7285
Epoch 6/100
804/804 [==============================] - 0s 485us/step - loss: 0.5589 - accuracy: 0.7297
Epoch 7/100
804/804 [==============================] - 0s 479us/step - loss: 0.5581 - accuracy: 0.7292
Epoch 8/100
804/804 [==============================] - 0s 510us/step - loss: 0.5576 - accuracy: 0.7296
Epoch 9/100
804/804 [==============================] - 0s 522us/step - loss: 0.5567 - accuracy: 0.7299
Epoch 10/100
804/804 [==============================] - 0s 499us/step - loss: 0.5561 - accuracy: 0.7308
Epoch 11/100
804/804 [==============================] - 0s 499us/step - loss: 0.5560 - accuracy: 0.7310
Epoch 12/100
804/804 [==============================] - 0s 499us/step - loss: 0.5554 - accuracy: 0.7314
Epoch 13/100
804/804 [==============================] - 0s 505us/step - loss: 0.5552 - accuracy: 0.7311
Epoch 14/100
804/804 [==============================] - 0s 493us/step - loss: 0.5551 - accuracy: 0.7310
Epoch 15/100
804/804 [==============================] - 0s 520us/step - loss: 0.5548 - accuracy: 0.7308
Epoch 16/100
804/804 [==============================] - 0s 494us/step - loss: 0.5546 - accuracy: 0.7317
Epoch 17/100
804/804 [==============================] - 0s 483us/step - loss: 0.5543 - accuracy: 0.7311
Epoch 18/100
804/804 [==============================] - 0s 481us/step - loss: 0.5542 - accuracy: 0.7308
Epoch 19/100
804/804 [==============================] - 0s 478us/step - loss: 0.5540 - accuracy: 0.7320
Epoch 20/100
804/804 [==============================] - 0s 482us/step - loss: 0.5542 - accuracy: 0.7308
Epoch 21/100
804/804 [==============================] - 0s 493us/step - loss: 0.5539 - accuracy: 0.7313
Epoch 22/100
804/804 [==============================] - 0s 483us/step - loss: 0.5534 - accuracy: 0.7314
Epoch 23/100
804/804 [==============================] - 0s 479us/step - loss: 0.5536 - accuracy: 0.7316
Epoch 24/100
804/804 [==============================] - 0s 477us/step - loss: 0.5528 - accuracy: 0.7318
Epoch 25/100
804/804 [==============================] - 0s 484us/step - loss: 0.5532 - accuracy: 0.7323
Epoch 26/100
804/804 [==============================] - 0s 480us/step - loss: 0.5527 - accuracy: 0.7308
Epoch 27/100
804/804 [==============================] - 0s 482us/step - loss: 0.5525 - accuracy: 0.7315
Epoch 28/100
804/804 [==============================] - 0s 502us/step - loss: 0.5524 - accuracy: 0.7318
Epoch 29/100
804/804 [==============================] - 0s 495us/step - loss: 0.5523 - accuracy: 0.7321
Epoch 30/100
804/804 [==============================] - 0s 477us/step - loss: 0.5524 - accuracy: 0.7318
Epoch 31/100
804/804 [==============================] - 0s 480us/step - loss: 0.5519 - accuracy: 0.7319
Epoch 32/100
804/804 [==============================] - 0s 480us/step - loss: 0.5520 - accuracy: 0.7319
Epoch 33/100
804/804 [==============================] - 0s 476us/step - loss: 0.5519 - accuracy: 0.7323
Epoch 34/100
804/804 [==============================] - 0s 492us/step - loss: 0.5519 - accuracy: 0.7318
Epoch 35/100
804/804 [==============================] - 0s 477us/step - loss: 0.5516 - accuracy: 0.7323
Epoch 36/100
804/804 [==============================] - 0s 479us/step - loss: 0.5517 - accuracy: 0.7327
Epoch 37/100
804/804 [==============================] - 0s 479us/step - loss: 0.5516 - accuracy: 0.7314
Epoch 38/100
804/804 [==============================] - 0s 480us/step - loss: 0.5514 - accuracy: 0.7325
Epoch 39/100
804/804 [==============================] - 0s 490us/step - loss: 0.5514 - accuracy: 0.7317
Epoch 40/100
804/804 [==============================] - 0s 496us/step - loss: 0.5510 - accuracy: 0.7325
Epoch 41/100
804/804 [==============================] - 0s 480us/step - loss: 0.5513 - accuracy: 0.7324
Epoch 42/100
804/804 [==============================] - 0s 477us/step - loss: 0.5514 - accuracy: 0.7333
Epoch 43/100
804/804 [==============================] - 0s 480us/step - loss: 0.5511 - accuracy: 0.7324
Epoch 44/100
804/804 [==============================] - 0s 485us/step - loss: 0.5509 - accuracy: 0.7322
Epoch 45/100
804/804 [==============================] - 0s 476us/step - loss: 0.5510 - accuracy: 0.7327
Epoch 46/100
804/804 [==============================] - 0s 494us/step - loss: 0.5510 - accuracy: 0.7327
Epoch 47/100
804/804 [==============================] - 0s 478us/step - loss: 0.5509 - accuracy: 0.7329
Epoch 48/100
804/804 [==============================] - 0s 477us/step - loss: 0.5508 - accuracy: 0.7326
Epoch 49/100
804/804 [==============================] - 0s 478us/step - loss: 0.5509 - accuracy: 0.7324
Epoch 50/100
804/804 [==============================] - 0s 478us/step - loss: 0.5507 - accuracy: 0.7328
Epoch 51/100
804/804 [==============================] - 0s 476us/step - loss: 0.5505 - accuracy: 0.7331
Epoch 52/100
804/804 [==============================] - 0s 488us/step - loss: 0.5508 - accuracy: 0.7325
Epoch 53/100
804/804 [==============================] - 0s 486us/step - loss: 0.5503 - accuracy: 0.7326
Epoch 54/100
804/804 [==============================] - 0s 476us/step - loss: 0.5506 - accuracy: 0.7332
Epoch 55/100
804/804 [==============================] - 0s 477us/step - loss: 0.5505 - accuracy: 0.7327
Epoch 56/100
804/804 [==============================] - 0s 481us/step - loss: 0.5502 - accuracy: 0.7337
Epoch 57/100
804/804 [==============================] - 0s 477us/step - loss: 0.5504 - accuracy: 0.7333
Epoch 58/100
804/804 [==============================] - 0s 479us/step - loss: 0.5503 - accuracy: 0.7331
Epoch 59/100
804/804 [==============================] - 0s 487us/step - loss: 0.5503 - accuracy: 0.7332
Epoch 60/100
804/804 [==============================] - 0s 475us/step - loss: 0.5504 - accuracy: 0.7337
Epoch 61/100
804/804 [==============================] - 0s 478us/step - loss: 0.5504 - accuracy: 0.7330
Epoch 62/100
804/804 [==============================] - 0s 477us/step - loss: 0.5502 - accuracy: 0.7331
Epoch 63/100
804/804 [==============================] - 0s 474us/step - loss: 0.5501 - accuracy: 0.7332
Epoch 64/100
804/804 [==============================] - 0s 476us/step - loss: 0.5501 - accuracy: 0.7333
Epoch 65/100
804/804 [==============================] - 0s 506us/step - loss: 0.5504 - accuracy: 0.7336
Epoch 66/100
804/804 [==============================] - 0s 479us/step - loss: 0.5501 - accuracy: 0.7335
Epoch 67/100
804/804 [==============================] - 0s 476us/step - loss: 0.5500 - accuracy: 0.7336
Epoch 68/100
804/804 [==============================] - 0s 474us/step - loss: 0.5500 - accuracy: 0.7334
Epoch 69/100
804/804 [==============================] - 0s 478us/step - loss: 0.5499 - accuracy: 0.7329
Epoch 70/100
804/804 [==============================] - 0s 475us/step - loss: 0.5498 - accuracy: 0.7343
Epoch 71/100
804/804 [==============================] - 0s 490us/step - loss: 0.5499 - accuracy: 0.7335
Epoch 72/100
804/804 [==============================] - 0s 474us/step - loss: 0.5498 - accuracy: 0.7334
Epoch 73/100
804/804 [==============================] - 0s 477us/step - loss: 0.5499 - accuracy: 0.7340
Epoch 74/100
804/804 [==============================] - 0s 477us/step - loss: 0.5497 - accuracy: 0.7338
Epoch 75/100
804/804 [==============================] - 0s 477us/step - loss: 0.5500 - accuracy: 0.7329
Epoch 76/100
804/804 [==============================] - 0s 478us/step - loss: 0.5498 - accuracy: 0.7330
Epoch 77/100
804/804 [==============================] - 0s 488us/step - loss: 0.5495 - accuracy: 0.7341
Epoch 78/100
804/804 [==============================] - 0s 478us/step - loss: 0.5494 - accuracy: 0.7339
Epoch 79/100
804/804 [==============================] - 0s 492us/step - loss: 0.5496 - accuracy: 0.7340
Epoch 80/100
804/804 [==============================] - 0s 478us/step - loss: 0.5497 - accuracy: 0.7337
Epoch 81/100
804/804 [==============================] - 0s 477us/step - loss: 0.5492 - accuracy: 0.7341
Epoch 82/100
804/804 [==============================] - 0s 477us/step - loss: 0.5493 - accuracy: 0.7341
Epoch 83/100
804/804 [==============================] - 0s 488us/step - loss: 0.5492 - accuracy: 0.7343
Epoch 84/100
804/804 [==============================] - 0s 479us/step - loss: 0.5490 - accuracy: 0.7342
Epoch 85/100
804/804 [==============================] - 0s 476us/step - loss: 0.5491 - accuracy: 0.7336
Epoch 86/100
804/804 [==============================] - 0s 474us/step - loss: 0.5492 - accuracy: 0.7344
Epoch 87/100
804/804 [==============================] - 0s 481us/step - loss: 0.5494 - accuracy: 0.7334
Epoch 88/100
804/804 [==============================] - 0s 478us/step - loss: 0.5486 - accuracy: 0.7337
Epoch 89/100
804/804 [==============================] - 0s 487us/step - loss: 0.5490 - accuracy: 0.7340
Epoch 90/100
804/804 [==============================] - 0s 477us/step - loss: 0.5491 - accuracy: 0.7341
Epoch 91/100
804/804 [==============================] - 0s 472us/step - loss: 0.5492 - accuracy: 0.7342
Epoch 92/100
804/804 [==============================] - 0s 487us/step - loss: 0.5491 - accuracy: 0.7336
Epoch 93/100
804/804 [==============================] - 0s 473us/step - loss: 0.5491 - accuracy: 0.7334
Epoch 94/100
804/804 [==============================] - 0s 475us/step - loss: 0.5492 - accuracy: 0.7341
Epoch 95/100
804/804 [==============================] - 0s 490us/step - loss: 0.5489 - accuracy: 0.7346
Epoch 96/100
804/804 [==============================] - 0s 477us/step - loss: 0.5489 - accuracy: 0.7346
Epoch 97/100
804/804 [==============================] - 0s 476us/step - loss: 0.5488 - accuracy: 0.7343
Epoch 98/100
804/804 [==============================] - 0s 477us/step - loss: 0.5490 - accuracy: 0.7338
Epoch 99/100
804/804 [==============================] - 0s 475us/step - loss: 0.5489 - accuracy: 0.7343
Epoch 100/100
804/804 [==============================] - 0s 488us/step - loss: 0.5489 - accuracy: 0.7335

In [69]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5575 - accuracy: 0.7285 - 145ms/epoch - 540us/step
Loss: 0.5575438737869263, Accuracy: 0.7285131216049194

In [70]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupCharity.h5")

/Users/gowest/anaconda3/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(